.navbar-inverse {
  opacity: 0.5; }

#menu ul li:last-child {
  margin-right: 15px; }

footer {
  width: 100%;
  height: 420px; }
  footer #footer {
    width: 100%;
    height: auto;
    background: black;
    margin-top: 50px;
    color: white;
    padding-bottom: 70px; }
    footer #footer h4 {
      padding-top: 20px; }
    footer #footer .fa-circle {
      font-size: 8px;
      margin-bottom: 2px; }
    footer #footer .fa-star {
      color: yellow; }
    footer #footer img {
      width: 42px;
      height: 42px; }
  footer #copyright {
    background: #000000;
    opacity: 0.93;
    width: 100%;
    height: auto;
    max-width: 100%;
    line-height: 50px; }
    footer #copyright p {
      color: white; }
    footer #copyright i {
      padding: 8px;
      color: white; }

#HomeCarousel {
  /*background: url(../images/slide1.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;*/ }

img {
  height: auto;
  max-height: 655px;
  width: 100%;
  max-width: 100%; }

/*

html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */
/*
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}*/
#BannerSection .bannerSectionImages, #BannerSection .bannerSectionImages:hover img, #BannerSection .bannerSectionImages img {
  width: 390px;
  height: 235px; }

#BannerSection {
  margin: 70px auto; }
  #BannerSection .bannerSectionImages {
    overflow: hidden;
    position: relative;
    box-sizing: border-box; }
    #BannerSection .bannerSectionImages:hover img {
      transform: scale(1.5, 1.5);
      transition: all 0.5s ease;
      box-sizing: border-box; }
    #BannerSection .bannerSectionImages img {
      max-width: 100%;
      transition: all 0.5s ease;
      box-sizing: border-box; }

#homeProduct {
  margin-top: 70px;
  margin-bottom: 15px; }
  #homeProduct .homeProductImages {
    position: relative;
    overflow: hidden; }
    #homeProduct .homeProductImages > img {
      max-width: 100%; }
    #homeProduct .homeProductImages .homeProductHoverEffect {
      position: absolute;
      background-color: black;
      opacity: 0.6;
      width: 100%;
      height: 100%;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      opacity: 0;
      transition: all 0.5s ease;
      text-align: center;
      vertical-align: middle; }
      #homeProduct .homeProductImages .homeProductHoverEffect a {
        padding: 10px 10px 10px 0px;
        background: #fff;
        text-decoration: none;
        text-align: center;
        color: black;
        font-family: "Myriad Pro"; }
        #homeProduct .homeProductImages .homeProductHoverEffect a i {
          padding-right: 5px; }
      #homeProduct .homeProductImages .homeProductHoverEffect:hover {
        opacity: 0.7;
        transition: all 0.5s ease;
        text-align: center;
        padding-top: 120px;
        box-sizing: border-box; }
  #homeProduct .homeProductDetails {
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    width: 100%; }
    #homeProduct .homeProductDetails a {
      text-decoration: none; }
    #homeProduct .homeProductDetails .fa-star {
      color: yellow; }

.btn-dark {
  background-color: black;
  color: white;
  font-family: "Myriad Pro";
  height: 35px;
  width: 200px; }
  .btn-dark:hover {
    opacity: 0.75;
    color: white; }

#BackVideo {
  width: 100%;
  height: 315px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  margin: 70px auto; }
  #BackVideo .BackVideoText {
    z-index: 99;
    position: absolute;
    left: 27%;
    top: 110px;
    bottom: 50%; }
    #BackVideo .BackVideoText h1 {
      text-align: center;
      color: white; }
  #BackVideo video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; }

#homeRandomProduct {
  margin-top: 70px; }
  #homeRandomProduct .homeRandomProductImages {
    position: relative;
    overflow: hidden;
    opacity: 0.6;
    transition: all 1.5s ease; }
    #homeRandomProduct .homeRandomProductImages:hover {
      opacity: 1;
      transition: all 1.5s ease; }
    #homeRandomProduct .homeRandomProductImages > img {
      max-width: 100%; }
    #homeRandomProduct .homeRandomProductImages .homeRandomProductHoverEffect {
      position: absolute;
      background-color: black;
      opacity: 0.6;
      width: 100%;
      height: 100%;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      opacity: 0;
      transition: all 0.5s ease;
      text-align: center;
      vertical-align: middle; }
      #homeRandomProduct .homeRandomProductImages .homeRandomProductHoverEffect a {
        padding: 10px 10px 10px 0px;
        background: #fff;
        text-decoration: none;
        text-align: center;
        color: black;
        font-family: "Myriad Pro"; }
        #homeRandomProduct .homeRandomProductImages .homeRandomProductHoverEffect a i {
          padding-right: 5px; }
      #homeRandomProduct .homeRandomProductImages .homeRandomProductHoverEffect:hover {
        opacity: 0.7;
        transition: all 0.5s ease;
        text-align: center;
        padding-top: 120px;
        box-sizing: border-box; }
  #homeRandomProduct .homeRandomProductDetails {
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    width: 100%; }
    #homeRandomProduct .homeRandomProductDetails a {
      text-decoration: none; }
    #homeRandomProduct .homeRandomProductDetails .fa-star {
      color: yellow; }
