
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

   <div class="container">
        <div class="row" id="AboutUsSectionThreeTeam">
            <div class="col-lg-3" ng-repeat="k in [1,2,3,4]">
                <div class="AboutUsSectionThreeImage">
                    <img src="~/images/team{{k}}.jpg" />
                </div>
                <div class="AboutUsHoverEffect col-lg-3">
                    <p>Lorem Ipsum is simply dummy text of the printing Lorem</p>
                </div>
                <div class="AboutUsNamePost">
                    <h5>EVA BEAN</h5>
                    <p>DEVELOPER</p>
                </div>
            </div>
        </div>
    </div>
   