
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<footer>
            <div id="footer" class="">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <h4>ABOUT SHOP ONLINE</h4>

                            <hr />

                            <br />
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <p>text ever since the 1500s, when an unknown</p>
                            <p>Phone: +91987645315</p>
                            <p>Email: pankaj@gmail.com</p>
                        </div>
                        <div class="col-lg-3">
                            <h4>RECENT COMMENTS</h4>
                            <hr />
                            <br />
                            <P><i class="fa fa-circle" style="font-size:8px; margin-bottom:2px;"></i> Codeinwp on Surplus Overalls</P>
                            <P><i class="fa fa-circle"></i> Codeinwp on White undershirt</P>
                            <P><i class="fa fa-circle"></i> Gerhard on Mauve dress</P>
                            <P><i class="fa fa-circle"></i> Maria on Blue & Red Shirt</P>
                            <P><i class="fa fa-circle"></i> Codeinwp on Surplus Overalls</P>
                            <P><i class="fa fa-circle"></i> Codeinwp on Surplus Overalls</P>
                        </div>
                        <div class="col-lg-3">
                            <h4>TOP RATED PRODUCTS</h4>
                            <hr />
                            <br />
                            <div>

                                <p>
                                    <i class="fa fa-circle"></i>
                                    Mauve dress<img src="wwwroot/images/Shop_Isle_4-300x300.jpg" class="pull-right" />
                                    <br />

                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <br />
                                    <i class="fa fa-rupee-sign"></i>

                                    <span>135.00</span>
                                </p>

                                <p>
                                    <i class="fa fa-circle"></i>
                                    Surplus Overalls<img src="wwwroot/images/Shop_Isle_5-300x300.jpg" class="pull-right" />
                                    <br />

                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <br />
                                    <i class="fa fa-rupee-sign"></i>

                                    <span>135.00</span>
                                </p>

                            </div>

                        </div>
                        <div class="col-lg-3">
                            <h4>PRODUCT CATEGORIES</h4>
                            <hr />
                            <br />
                            <P><i class="fa fa-circle" style="font-size:8px; margin-bottom:2px;"></i> Blouse <span class="pull-right">(1)</span></P>
                            <P><i class="fa fa-circle" style="font-size:8px; margin-bottom:2px;"></i> Clothing <span class="pull-right">(9)</span></P>
                            <P><i class="fa fa-circle" style="font-size:8px; margin-bottom:2px;"></i> Dress <span class="pull-right">(3)</span></P>
                            <P><i class="fa fa-circle" style="font-size:8px; margin-bottom:2px;"></i> Hat <span class="pull-right">(5)</span></P>
                            <P><i class="fa fa-circle" style="font-size:8px; margin-bottom:2px;"></i> Tshrit <span class="pull-right">(3)</span></P>

                        </div>
                    </div>

                </div>

            </div>
            <div id="copyright" >
                <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-sm-12"><p>Copyright <i class="fa fa-copyright"></i> 2018 ShopOnline.com. All Right Reserved</p></div>
                    <div class="col-lg-3 col-sm-12 pull-right">

                        <p class="pull-right"><i class="fa fa-facebook"></i>        <i class="fa fa-twitter"></i><i class="fa fa-google-plus"></i><i class="fa fa-youtube"></i></p>
                    </div>

                    </div>
                </div>
            </div>

        </footer>
