
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
  <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style.css" />
		 <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    </environment>
   

</head>
<body ng-app="shopOnline">
  @RenderBody()

 <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
 <script src="~/lib/fontAwesome/fontawesome-all.js"></script>
 
    <script src="~/lib/AngularJs/angular.js"></script>
    <script src="~/AngularJs/app.js"></script>
    <script src="~/AngularJs/controller.js"></script>
</body>
</html>
